@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
#main-sidebar header > a {
  display: inline-block;
  vertical-align: top; }
  #main-sidebar header > a:hover, #main-sidebar header > a:active {
    text-decoration: none; }
#main-sidebar .toggle-sidebar {
  display: inline-block;
  margin: 5px 10px;
  height: 30px;
  width: 30px;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 1px 3px;
  background: #222;
  box-sizing: border-box;
  cursor: pointer; }
  #main-sidebar .toggle-sidebar .bar {
    display: block;
    background: white;
    border: 1px solid #222;
    height: 4px;
    border-radius: 4px;
    margin: 3px 0; }
    #main-sidebar .toggle-sidebar .bar:nth-child(2) {
      width: 60%; }
    #main-sidebar .toggle-sidebar .bar:nth-child(3) {
      width: 70%; }
#main-sidebar .expand-sidebar {
  display: none;
  cursor: pointer; }
#main-sidebar header h2 {
  font-size: 1.4em;
  margin: 6px 0; }
  #main-sidebar header h2 span {
    font-size: 0.5em; }
#main-sidebar .icon {
  font-size: 1.4em;
  width: 50px;
  padding: 0 5px;
  text-align: center;
  display: inline-block; }
#main-sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  #main-sidebar nav ul li {
    width: 100%; }
    #main-sidebar nav ul li a {
      display: block;
      padding: 10px 15px 10px 0;
      transition: background 0.2s ease-in-out; }
      #main-sidebar nav ul li a:hover, #main-sidebar nav ul li a:active, #main-sidebar nav ul li a.active {
        text-decoration: none;
        background: #F8F8F8; }
@media all and (min-width: 769px) {
  #main-sidebar {
    background: white;
    position: relative; }
    #main-sidebar .toggle-sidebar {
      display: none; }
    #main-sidebar header a {
      display: block; }
      #main-sidebar header a .icon {
        margin: 36px 0 26px; }
      #main-sidebar header a h2 {
        padding: 35px 0px 15px;
        text-align: center; }
    #main-sidebar .expand-sidebar {
      display: block;
      position: absolute;
      bottom: 30px; } }

.resume section {
  padding: 10px;
  margin-bottom: 20px; }
  .resume section h2 {
    font-size: 1.4em;
    text-transform: uppercase; }
  .resume section > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%; }
    .resume section > ul > li {
      display: table-row; }
      .resume section > ul > li > div {
        display: table-cell; }
      .resume section > ul > li .content .title {
        font-weight: 400; }
      .resume section > ul > li .content .detail {
        font-size: 0.9em;
        margin-bottom: 20px; }
        .resume section > ul > li .content .detail > .title {
          margin-left: 20px; }
        .resume section > ul > li .content .detail ul.work li {
          font-weight: 1.1em; }
          .resume section > ul > li .content .detail ul.work li .detail {
            margin-bottom: 5px; }
      .resume section > ul > li .content p {
        margin: 0; }
      .resume section > ul > li .date {
        width: 70px;
        text-align: right; }
@media all and (min-width: 769px) {
  .resume section {
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap; }
    .resume section h2 {
      flex: 0 1 250px;
      margin-top: 0; }
    .resume section > ul {
      flex: 1 0 auto;
      width: auto;
      display: block; }
      .resume section > ul > li {
        display: table;
        width: 100%; }
        .resume section > ul > li > div {
          display: table-cell; }
        .resume section > ul > li .date {
          width: 150px; } }

html, body {
  height: 100%;
  max-width: 100%;
  overflow: hidden; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

a, a:link, a:visited {
  color: #222;
  text-decoration: none; }

a:hover, a:active {
  color: #222;
  text-decoration: underline; }

figure {
  margin: 0 0 20px 0; }
  figure figcaption {
    padding: 5px 20px; }
    figure figcaption ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      figure figcaption ul li {
        display: inline-block;
        padding: 0 10px; }
  figure.pers {
    max-width: 1200px;
    margin: 0 auto 20px auto; }

img {
  width: 100%;
  height: auto; }

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background: #F8F8F8;
  font-weight: 300; }
  body > aside, body > [role="main"] {
    transform: translateXY(0, 0);
    transition: transform 0.3s ease-in-out; }
  body > aside {
    flex: 0 0 auto; }
    body > aside nav {
      position: fixed;
      width: 250px;
      top: 0;
      left: -250px; }
  body > [role="main"] {
    flex: 1 1 100%;
    overflow-y: auto; }
  body.sidebar-open > aside, body.sidebar-open > [role="main"] {
    transform: translateX(250px); }
  @media all and (min-width: 769px) {
    body {
      flex-direction: row; }
      body > aside {
        flex: 0 0 50px;
        width: 50px;
        overflow: hidden;
        transition: all 0.3s ease-in-out; }
        body > aside header {
          width: 250px; }
        body > aside nav {
          position: relative;
          width: 250px;
          top: 0;
          left: 0; }
      body.sidebar-open > aside, body.sidebar-open > [role="main"] {
        transform: translateX(0); }
      body.sidebar-open > aside {
        flex: 0 0 250px;
        width: 250px; } }

#back-top {
  position: fixed;
  z-index: 9999;
  right: 15px;
  bottom: 10px;
  border: 1px solid white;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out; }
  #back-top:hover {
    background: rgba(0, 0, 0, 0.6); }
  @media all and (min-width: 769px) {
    #back-top {
      right: 25px;
      bottom: 20px; } }

.page {
  width: 100%;
  padding-bottom: 40px; }
  .page h1 {
    font-size: 2em;
    padding: 1.5em;
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1; }
  .page h2 {
    font-weight: 300; }
  .page .description {
    margin: 20px 15px; }
  @media all and (min-width: 769px) {
    .page h1 {
      font-size: 3em;
      padding: 1.2em; }
    .page .description {
      max-width: 500px;
      margin: 30px auto; } }

footer[role="contentinfo"] {
  margin: 30px 0 5px;
  text-align: center; }

[ui-view].ng-enter, [ui-view].ng-leave {
  transition: all 0.5s ease-in-out; }

[ui-view].ng-enter {
  opacity: 0; }

[ui-view].ng-enter-active {
  opacity: 1; }

[ui-view].ng-leave {
  opacity: 1; }

[ui-view].ng-leave-active {
  opacity: 0; }

/*# sourceMappingURL=style.css.map */
