<div class='page'>
  <h1>Bigness</h1>
  <div class='description'>
    <p>In the master class "architecture and complexity" we had some theoretical lessons which included the study of "Delirious New-York". In this case, we had to express our vision of the "Bigness" in a tower with programmatic constraints of 25% public space, 25% offices, 25% residential and 25% urban agriculture.</p>
    <p>The entire building is composed of 10m x 10m units its a sustainable mixed use structure arises as a new model for flexible development. The residential and the urban agriculture units are more fragmented to create views, light and gardens. The public space takes place at the base with some terraces and gardens.</p>
  </div>
  <figure class='pers'>
    <img alt='Axonometry' large-picture="'images/bigness/axos-large.png'" src='images/bigness/axos-small.png'>
    <figcaption>Axonometry</figcaption>
  </figure>
  <figure>
    <img alt='Section' large-picture="'images/bigness/coupe-large.png'" src='images/bigness/coupe-small.png'>
    <figcaption>Section</figcaption>
  </figure>
</div>
