<div class="page">
  <h1>Experimentations</h1>
  <figure class="pers">
    <img alt="Parametric bridge" large-picture="'images/experimentations/fondparazahaL-2-large.jpg'" src="images/experimentations/fondparazahaL-2-small.jpg">
    <figcaption>Parametric bridge</figcaption>
  </figure>
  <figure class="pers">
    <img alt="Grid structure" large-picture="'images/experimentations/tt5-large.jpg'" src="images/experimentations/tt5-small.jpg">
    <figcaption>Grid structure</figcaption>
  </figure>
  <figure class="pers">
    <img alt="Parametric sponge structure" large-picture="'images/experimentations/tt-large.jpg'" src="images/experimentations/tt-small.jpg">
    <figcaption>Parametric sponge structure</figcaption>
  </figure>
  <figure class="pers">
    <img alt="Generative tower" large-picture="'images/experimentations/tt2-large.jpg'" src="images/experimentations/tt2-small.jpg">
    <figcaption>Generative tower</figcaption>
  </figure>
</div>
