.page
  %h1 Experimentations

  %figure.pers
    %img( src="images/experimentations/fondparazahaL-2-small.jpg" alt="Parametric bridge" large-picture="'images/experimentations/fondparazahaL-2-large.jpg'" )
    %figcaption Parametric bridge

  %figure.pers
    %img( src="images/experimentations/tt5-small.jpg" alt="Grid structure" large-picture="'images/experimentations/tt5-large.jpg'" )
    %figcaption Grid structure

  %figure.pers
    %img( src="images/experimentations/tt-small.jpg" alt="Parametric sponge structure" large-picture="'images/experimentations/tt-large.jpg'" )
    %figcaption Parametric sponge structure

  %figure.pers
    %img( src="images/experimentations/tt2-small.jpg" alt="Generative tower" large-picture="'images/experimentations/tt2-large.jpg'" )
    %figcaption Generative tower
