.page
  %h1 Contact
  .text-center
    %p
      Email:
      %a( href="mailto:mail@sidoniemuller.com" ) mail@sidoniemuller.com
    %p Phone: +1 (929)-216-3681
    %p
      LinkedIn:
      %a( href="http://linkedin.com/pub/sidonie-muller/92/439/246" target="_blank" )
        Sidonie Muller
