<div class="page resume" id="resume">
  <h1>Resume</h1>
  <section>
    <h2>Awards</h2>
    <ul>
      <li>
        <div class="content">
          <div class="title">
            International Architecture Awards 2015
          </div>
          <div class="detail">
            <a href="http://www.architecturepodium.org/portfolio/high-corridor-sidonie-muller/" target="_blank">
              1st Award – Mixed Use Concept
            </a>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <section>
    <h2>Education</h2>
    <ul>
      <li>
        <div class="content">
          <div class="title">
            National School of Architecture, Strasbourg (ENSAS), FRANCE
          </div>
          <div class="detail">
            Master of Architecture, Graduated with honors
          </div>
          <div class="title">
            Final thesis project
          </div>
          <div class="detail">
            <p>“HIgh-Corridor, Montreal’s urban break”</p>
            <p>Professors: Dominique Coulon & Alexis Meier</p>
            <p>Jury: Jean-frédéric Luscher</p>
          </div>
        </div>
        <div class="date">
          2014
        </div>
      </li>
      <li>
        <div class="content">
          <div class="title">
            SAPIENZA University of ROMA, ITALIA
          </div>
          <div class="detail">
            Erasmus student - Master of Architecture first year
          </div>
        </div>
        <div class="date">
          2011-2012
        </div>
      </li>
      <li>
        <div class="content">
          <div class="title">
            National School of Architecture, Strasbourg (ENSAS), FRANCE
          </div>
          <div class="detail">
            Bachelor of Architecture
          </div>
        </div>
        <div class="date">
          2008-2011
        </div>
      </li>
      <li>
        <div class="content">
          <div class="title">
            University of Strasbourg, Marc Bloch, FRANCE
          </div>
          <div class="detail">
            Art HIstory
          </div>
        </div>
        <div class="date">
          2007-2008
        </div>
      </li>
      <li>
        <div class="content">
          <div class="title">
            High School Graduate Scientific, Andrée Maurois, FRANCE
          </div>
        </div>
        <div class="date">
          2007
        </div>
      </li>
    </ul>
  </section>
  <section>
    <h2>Work experiences</h2>
    <ul>
      <li>
        <div class="content">
          <div class="title">
            Bjarke Ingels Group - New York
          </div>
          <div class="detail">
            Design Assistant
            <ul class="work">
              <li>
                <div class="title">
                  MCCO, Manhattan New York
                </div>
                <div class="detail">
                  SD phase, design and technical studies
                </div>
              </li>
              <li>
                <div class="title">
                  Competition Stadium, Shanghai CHINA
                </div>
                <div class="detail">
                  Physical model
                </div>
              </li>
              <li>
                <div class="title">
                  Hyperloop
                </div>
                <div class="detail">
                  Pod study
                </div>
              </li>
              <li>
                <div class="title">
                  Wilson school, Arlington Virginia
                </div>
                <div class="detail">
                  SD phase, detail studies and render
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="date">
          10.2016 - 10.2017
        </div>
      </li>
      <li>
        <div class="content">
          <div class="title">
            Paul Le Quernec
          </div>
          <div class="detail">
            Designer
            <ul class="work">
              <li>
                <div class="title">
                  Alzheimer unity, Monthléry FRANCE
                </div>
                <div class="detail">
                  Final design, construction drawing and details
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="date">
          10.2015 - 04.2016
        </div>
      </li>
      <li>
        <div class="content">
          <div class="title">
            Dominique Coulon & Associates
          </div>
          <div class="detail">
            Architectural Assistant
            <ul class="work">
              <li>
                <div class="title">
                  Social & cultural center Antipode MJC Library, ZAC Courreuze Rennes FRANCE
                </div>
                <div class="detail">
                  Design team menber, construction drawing
                </div>
              </li>
              <li>
                <div class="title">
                  Swimming Pool Dôle FRANCE
                </div>
                <div class="detail">
                  Design team member, construction drawing
                </div>
              </li>
              <li>
                <div class="title">
                  Unity of life for elderly Huningue FRANCE
                </div>
                <div class="detail">
                  Model conception, meeting with client
                </div>
              </li>
              <li>
                <div class="title">
                  Student Habitation Camelias Paris FRANCE
                </div>
                <div class="detail">
                  Models conception and construction drawing
                </div>
              </li>
              <li>
                <div class="title">
                  Cuturel Center Salvador Allende Mons-en- Barouel FRANCE
                </div>
                <div class="detail">
                  Models conception and construction drawing
                </div>
              </li>
            </ul>
            <div class="title">
              Competition:
            </div>
            <ul class="work">
              <li>
                <div class="title">
                  Maillon Theater Strasbourg-France
                </div>
                <div class="detail">
                  Design team menber, Master Plan, Elevations
                </div>
              </li>
              <li>
                <div class="title">
                  Accommodation for the elderly Chateaulin FRANCE
                </div>
                <div class="detail">
                  Concept design team
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="date">
          10.2013 - 03.2014
        </div>
      </li>
      <li>
        <div class="content">
          <div class="title">
            Antonneli & Herry
          </div>
          <div class="detail">
            Intern
            <div class="title">
              Competition:
            </div>
            <ul class="work">
              <li>
                <div class="title">
                  Apartment building Strasbourg FRANCE
                </div>
                <div class="detail">
                  Design team member
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="date">
          08.2012 - 10.2012
        </div>
      </li>
      <li>
        <div class="content">
          <div class="title">
            OP Architecture
          </div>
          <div class="detail">
            Designer
            <ul class="work">
              <li>
                <div class="title">
                  Statement drawing of a house
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="date">
          07.2011
        </div>
      </li>
    </ul>
  </section>
  <section>
    <h2>Publications</h2>
    <ul>
      <li>
        <div class="content">
          <div class="title">
            Archiprix international Madrid 2015 exhibition at the ETSAM
          </div>
          <div class="detail">
            <a href="http://www.archiprix.org/2015/index.php?project=3502" target="_blank">
              http://www.archiprix.org/2015/index.php?project=3502
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="content">
          <div class="title">
            Best project 2014 exhibition National School of Architecture, Strasbourg (ENSAS)
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
