#resume.page.resume
  %h1 Resume

  %section
    %h2 Awards
    %ul
      %li
        .content
          .title
            International Architecture Awards 2015
          .detail
            %a( href="http://www.architecturepodium.org/portfolio/high-corridor-sidonie-muller/" target="_blank" )
              1st Award – Mixed Use Concept
  %section
    %h2 Education
    %ul
      %li
        .content
          .title
            National School of Architecture, Strasbourg (ENSAS), FRANCE
          .detail
            Master of Architecture, Graduated with honors
          .title
            Final thesis project
          .detail
            %p “HIgh-Corridor, Montreal’s urban break”
            %p Professors: Dominique Coulon & Alexis Meier
            %p Jury: Jean-frédéric Luscher
        .date
          2014
      %li
        .content
          .title
            SAPIENZA University of ROMA, ITALIA
          .detail
            Erasmus student - Master of Architecture first year
        .date
          2011-2012
      %li
        .content
          .title
            National School of Architecture, Strasbourg (ENSAS), FRANCE
          .detail
            Bachelor of Architecture
        .date
          2008-2011
      %li
        .content
          .title
            University of Strasbourg, Marc Bloch, FRANCE
          .detail
            Art HIstory
        .date
          2007-2008
      %li
        .content
          .title
            High School Graduate Scientific, Andrée Maurois, FRANCE
        .date
          2007
  %section
    %h2 Work experiences
    %ul
      %li
        .content
          .title
            Bjarke Ingels Group - New York
          .detail
            Design Assistant
            %ul.work
              %li
                .title
                  MCCO, Manhattan New York
                .detail
                  SD phase, design and technical studies
              %li
                .title
                  Competition Stadium, Shanghai CHINA
                .detail
                  Physical model
              %li
                .title
                  Hyperloop
                .detail
                  Pod study
              %li
                .title
                  Wilson school, Arlington Virginia
                .detail
                  SD phase, detail studies and render
        .date
          10.2016 - 10.2017
      %li
        .content
          .title
            Paul Le Quernec
          .detail
            Designer
            %ul.work
              %li
                .title
                  Alzheimer unity, Monthléry FRANCE
                .detail
                  Final design, construction drawing and details
        .date
          10.2015 - 04.2016
      %li
        .content
          .title
            Dominique Coulon & Associates
          .detail
            Architectural Assistant
            %ul.work
              %li
                .title
                  Social & cultural center Antipode MJC Library, ZAC Courreuze Rennes FRANCE
                .detail
                  Design team menber, construction drawing
              %li
                .title
                  Swimming Pool Dôle FRANCE
                .detail
                  Design team member, construction drawing
              %li
                .title
                  Unity of life for elderly Huningue FRANCE
                .detail
                  Model conception, meeting with client
              %li
                .title
                  Student Habitation Camelias Paris FRANCE
                .detail
                  Models conception and construction drawing
              %li
                .title
                  Cuturel Center Salvador Allende Mons-en- Barouel FRANCE
                .detail
                  Models conception and construction drawing
            .title
              Competition:
            %ul.work
              %li
                .title
                  Maillon Theater Strasbourg-France
                .detail
                  Design team menber, Master Plan, Elevations
              %li
                .title
                  Accommodation for the elderly Chateaulin FRANCE
                .detail
                  Concept design team

        .date
          10.2013 - 03.2014
      %li
        .content
          .title
            Antonneli & Herry
          .detail
            Intern
            .title
              Competition:
            %ul.work
              %li
                .title
                  Apartment building Strasbourg FRANCE
                .detail
                  Design team member
        .date
          08.2012 - 10.2012
      %li
        .content
          .title
            OP Architecture
          .detail
            Designer
            %ul.work
              %li
                .title
                  Statement drawing of a house
        .date
          07.2011
  %section
    %h2 Publications
    %ul
      %li
        .content
          .title
            Archiprix international Madrid 2015 exhibition at the ETSAM
          .detail
            %a( href="http://www.archiprix.org/2015/index.php?project=3502" target="_blank" )
              http://www.archiprix.org/2015/index.php?project=3502
      %li
        .content
          .title
            Best project 2014 exhibition National School of Architecture, Strasbourg (ENSAS)
